<div class="search_box">
  <%= form_tag poems_path, name: "search_poem", id: "main_search", method: :get do %>
      <%= select_tag "author", options_from_collection_for_select(Author.all, "id", "name", params[:author]), prompt: "#{t :all}" %>
      <%= submit_tag "#{t :search}", :disable_with => "#{t :please_wait}...", :class => 'btn btn-primary' %>
  <% end %>
</div>

<div class="row">

  <%= render 'concordance_list' %>

  <div class="span10">
    <div class="start_letter_vachana_list">
      <%= render "poem_list" %>
    </div>
  </div>

</div>
