<div class="praramba_para"> 
  <p> <span class="start_letter_header"> 
    <%= params[:start_letter] %> </span> ಪ್ರಾರಂಭ ಪದದ ಹೆಸರಿರುವ ವಚನಕಾರರು </p>
  </div>
  
  <div class="results_list_div">
    <% @authors.each do |author| %>

    <a href="#myModal_<%= author.id %>" role="button"  data-toggle="modal" >
      <div class="box effect5 vachanakaara-box">
        <h5> 
         <%=  author.name %> </h5>
         <div class="vachanakaara-parichaya"> 
          <% if author.information and !author.information.blank?  %>
          <span> <%= author.information %> </span> <br /> 
          <% else %>
          <span> ----- </span> <br /> 
          <% end %>
        </div>
      </div>



    </a>


    <div id="myModal_<%= author.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="text-align: left;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">
         <span class="vachanakaara-name">
           <%= "#{author.name}" %>
         </span>
       </h3>
     </div>
     <div class="modal-body vachana-pop">
      <span> <strong> ಅಂಕಿತ ನಾಮ: </strong>  </span> 
      <span> <%#= author.ankitha_naama %> </span>
      <br /> <br />
      <span> <strong>  ಕಾಲ: </strong> </span>
      <span> <%= author.time_period %> </span>
      <br /> <br />
      <span> <strong>  ದೊರಕಿರುವ ವಚನಗಳು: </strong> </span> 
      <span> <%#= author.vachana_found %> </span> (ಆಧಾರ: ಸಮಗ್ರ ವಚನ ಸಂಪುಟ)
      <br /> <br />
      <span> <strong>   ತಂದೆ/ತಾಯಿ: </strong> </span> 
      <span> <%#= author.parents %> </span>
      <br /> <br />
      <span> <strong>  ಹುಟ್ಟಿದ ಸ್ಥಳ: </strong> </span> 
      <span> <%= author.birth_place %> </span>
      <br /> <br />
      <span> <strong>   ಪರಿಚಯ: </strong> </span> 
      <span> <%= author.information %> </span>
    </div>
  </div>

  <% end %>
  <div class="pagination apple_pagination">
    <%= will_paginate @authors %>
  </div>
</div>

