<%= render 'layouts/poem_counts' %>
<div class="vachana_sangraha_heading">
  <h1> <%= t :menu_brand_name %> </h1>
</div>

<div class="sangraha_desc">

  <% if @poem %>
      <div class="rand-vachana">
        <h3> <%= t :today_poem %> </h3>
        <p>
          <%= raw @poem.poem_text.gsub(/\n/, '<br />') %>
        </p>
        <span class="vachanakaara-name" style="margin-left:20%;"> --- <%= @poem.author.name %> </span>
      </div>
  <% end %>

</div>
