 <div class="poem-count">
   <p>
     ಈ <%= t(:poem) %> ಸಂಗ್ರಹದಲ್ಲಿ   ಒಟ್ಟು   <span class="badge badge-success"> <%= Poem.count %> </span> ಕ್ಕೂ ಹೆಚ್ಚು <%= t(:poem) %>ಗಳಿವೆ.
     <%= t(:poem) %>ಗಳಲ್ಲಿರುವ ಒಟ್ಟು ಪದಗಳ ಸಂಖ್ಯೆ <span class="badge badge-success"> <%= KeyWord.count %> </span> ಕೂ ಹೆಚ್ಚು. 
   </p>
 </div>